*{
    margin:0px;
    padding:0px;
    text-align: center;
}
h1{
    text-align: center;
    margin: 30px 0px 30px;
}
.info{
    height: 30px;
    width: 250px;
    margin-bottom: 20px;
}
p{
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: black;
    background-color: aliceblue;
}
.info2{
    margin-bottom: 10px;
    height: 15px;
    width: 20px;
    font-size: 1.9rem;
    font-weight: 700;
}
form{
    height: 480px;
    width: 320px;
    border : 2px solid black;
    border-radius: 12%;
    position: absolute;
    left: 470px;
    top:60px;
    background-image: url("box8-image.jpg");
    background-size: cover;
}
button{
    height: 30px;
    width: 70px;
    margin-top: 15px;
    background-color: white;
    font-weight: 600;
}